.g-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.login-inner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f2f6;
  -webkit-box-shadow: -1px -2px 29px 8px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -1px -2px 29px 8px rgba(0, 0, 0, 0.34);
  box-shadow: -1px -2px 29px 8px rgba(0, 0, 0, 0.34);
}

.login-form {
  border: 1px solid #ddd;
  padding: 30px;
  max-width: 400px;
  background: white;
}

.login-form label {
  display: block;
  margin: 10px 0;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.login-form h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}
.login-form input {
  width: 100%;
  height: 30px;
}
button.submit {
  margin: 20px 0;
  padding: 10px;
  max-width: 200px;

  background: green;
  border: 1px solid green;
  color: white;
  letter-spacing: 0.5px;
  border-radius: 5px;
}
button.submit:hover {
  color: green;
  background: transparent;
}
.google-btn {
  border: 1px solid lightblue;
  margin: 18px;
  background: lightblue;
  height: 35px;
}
